* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Constantia, sans-serif;

    background-color: mistyrose;
    background-image: url("https://i.pinimg.com/236x/a6/05/a3/a605a33ba27eecaa8d3aec360cb7a6f6.jpg");
}

header {
    background-color: pink;
    color: palevioletred;
    padding: 15px 30px;
    border-block-end: 2px solid darkgray;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 30px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    background: floralwhite;
    margin-top: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    padding: 15px;
    color: #64748b;
    font-size: 0.9em;
    margin-top: 30px;
}

.card {
    border: 1px solid #e2e8f0;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.pai_listar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listar_atividades {
    width: 200px;
    height: auto;
    background: lightpink;
    border-radius: 10px;
    border: 5px solid palevioletred;
    margin: 10px;
    color: whitesmoke;
}

.titulo_listar_atividades {
    color: palevioletred;
    text-align: center;
}

.image_hello_kitty {
    border-radius: 8px;
}

.image_inicio {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

