{% extends 'base.html' %}
{% block conteudo %}

<div class="inicio">
    <h2> Olá, seja bem-vindo ao site da TaskFlow Corp! </h2> <br>
    <p>
        Este é o site que gerencia as atividades internas da Empresa TaskFlow Corp, com objetivo de manter a organização acima de tudo.
    </p>

    <p>
        Desejamos uma ótima navegação na website!
    </p>

    <p>
        Atenciosamente, Equipe Members TaskFlow.
    </p> <br>

    <img class="image_inicio" src="https://i.pinimg.com/1200x/38/a4/ff/38a4ff33adbda56c4aafa9865e870d77.jpg"  width="200" height="200">

</div>


{% endblock conteudo %}
