{% extends 'base.html' %}
{% block conteudo %}

<div class="titulo_listar_atividades">
    <h1> Listar atividades: </h1>
</div>

<div class="pai_listar">


    {% for atividade in dados_atividade %}

    <div class="listar_atividades">
        <h3> Nome: </h3>
        {{atividade.nome}} <br>
        <h3> Descrição: </h3>
        {{atividade.descricao}} <br>
        <h3> Data: </h3>
        {{atividade.data}} <br>
        <h3> Prioridade: </h3>
        {{atividade.prioridade}} <br>
        <h3> Categoria: </h3>
        {{atividade.categoria}}
    </div>


    {% endfor %}
</div>

{% endblock conteudo %}